.card {
  padding: 18px 20px 18px 20px;
  background: $card-color 0% 0% no-repeat padding-box;
  color: white;
  width: 730px;
  height: 375px;

  .title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .multimedia {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    height: 95%;

    .songs-head {
      display: flex;
      justify-content: space-between;
      color: $orange-color;
      font-family: Roboto;
      font-weight: 300;
      font-size: 18px;
      border-bottom: 1px solid $orange-color;
      padding-bottom: 5px;
    }

    .songs {
      height: 266px;
      overflow: auto;
      .song-row {
        display: flex;
        flex-direction: column;
        height: 38px;
        padding-top: 8px;
        padding-bottom: 10px;
        border-bottom: 1px solid $body-color;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .song-name {
          flex: 0 0 50%;
          font-size: 14px;
        }

        .song-details {
          flex: 0 0 50%;
        }
      }
    }

    .queue {
      height: 190px;
    }

    .lists {
      min-width: 0;
      flex: 0 0 50%;
      padding-right: 18px;
      border-right: 1px solid $orange-color;

      form {
        margin-bottom: 0px;
      }

      select {
        margin-top: 14px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 19px;
        width: 100%;
      }
    }

    .player {
      flex: 0 0 50%;
      padding-left: 18px;

      .current-list {
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
      }

      .current-song {
        margin-bottom: 12px;
        text-align: center;
      }

      .controls {
        font-size: 23px;
        text-align: center;
        margin-top: 19px;
        margin-bottom: 19px;

        span {
          margin-right: 7px;
          cursor: pointer;
        }
      }
    }
  }
}
