.card {
  padding: 18px 20px 18px 20px;
  background: $card-color 0% 0% no-repeat padding-box;
  color: white;
  width: 365px;
  height: 550px;

  nav {
    margin-bottom: 7px;

    ul {
      list-style-type: none;
      text-align: center;
      margin: 0;
    }

    li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0px;
      padding: 3px 7px;
      cursor: pointer;
    }

    li.active {
      background-color: $amber-color;
      color: $body-color;
    }
  }

  .title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .multimedia {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    .songs-head {
      display: flex;
      justify-content: space-between;
      color: $amber-color;
      font-family: Roboto;
      font-weight: 300;
      font-size: 18px;
      border-bottom: 1px solid $amber-color;
      padding-bottom: 5px;
    }

    .songs {
      overflow: auto;

      .current-song {
        color: $amber-color;
        border-left: 3px solid $amber-color;
      }

      .song-data {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        padding-top: 6px;
        padding-bottom: 0px;
        padding-left: 5px;
        border-bottom: 1px solid $body-color;
        height: 43px;
        margin-bottom: 1px;

        .song-info {
          flex: 0 0 80%;
          display: flex;
          flex-direction: column;
          min-width: 0;

          .song-name {
            flex: 0 0 50%;
            font-size: 14px;
            font-weight: 800;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .song-details {
            flex: 0 0 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

        }

        .song-actions {
          flex: 0 0 13%;
          color: $amber-color;

          span {
            cursor: pointer;
          }
        }
      }

      .inactive-mobile-actions {
        display: none;
      }

      .active-mobile-actions {
        display: none;
      }
    }

    .queue {
      height: 376px;

      .songs {
        height: 353px;
      }

      .song-actions {
        font-size: 10px;

        span {
          padding-right: 5px;
        }
      }
    }

    .lists {
      .songs {
        height: 396px;
      }

      form {
        margin-bottom: 15px;
      }

      select {
        margin-top: 11px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 30px;
        width: 100%;
        background-color: $body-color;
        color: white;
        font-size: 15px;
        border: 1px solid #999;
        text-decoration: none;
      }
    }

    .player {
      .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .volume {
          color: $amber-color;
          text-align: center;
          flex: 0 0 15%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .value {
            line-height: 26px;
            padding-top:6px;
            font-size: 30px;
          }

          .fa-volume-up {
            font-size: 17px;
            cursor: pointer;
          }

          .fa-volume-down {
            font-size: 17px;
            cursor: pointer;
          }

          .bitrate {
            font-size: 12px;
          }
        }

        .current-wrapper {
          flex: 0 0 70%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .current-list {
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .current-song {
            margin-bottom: 12px;
            text-align: center;
          }

          .controls {
            font-size: 23px;
            text-align: center;
            margin-top: 19px;
            margin-bottom: 19px;

            span {
              margin-right: 7px;
              cursor: pointer;
            }
          }
        }

        .extra {
          flex: 0 0 15%;
          text-align: right;
          display: flex;
          flex-direction: column;

          i {
            cursor: pointer;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .card {
    width: 100%;

    .multimedia {
      .songs {
        .song-row {
          display: flex;
        }

        .song-actions {
          display: none;
        }

        .inactive-mobile-actions {
          // This moves element so song data can be shown
          position: absolute;
          transform: rotateX(90deg);
        }

        .active-mobile-actions {
          flex: 1;
          display: inherit;
          position: static;
          transform: rotateX(0deg);

          .mobile-close {
            color: $amber-color;
            font-size: 15px;
          }
        }

        .song-data {
          flex: 1;
          transition: visibility 0.5s, transform 0.5s;
        }

        .shown-actions{
          flex: 1;
          // This moves element so mobile actions can be shown
          position: absolute;
          transform: rotateX(90deg);
        }

        .hidden-actions{
          transform: rotateX(0deg);
          position: static;
        }
      }

      .queue {
        height: 337px;

        .songs {
          height: 313px;
        }
      }

      .lists {
        .songs {
          height: 359px;
        }
      }

      .mobile-button {
        cursor: pointer;
        position: relative;
        margin-top: 6px;
        color: $body-color;
        text-decoration: none;
        border-radius: 5px;
        background: $amber-color;
        text-align: center;
        padding: 2px 5px 2px;

        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        transition: all 0.1s;
      }

      .mobile-button:active{
        position: relative;
        top: 4px;
      }
    }
  }
}
